.input-width {
  width: 100%;
}

.topic {
  min-width: 100px;
  max-width: 100px;
  width: 100%;
}

.add-text {
  margin-bottom: 10px;
}

.save {
  float: right;
}

.add-text,
.add-code {
  margin: 0 10px 0 0;
}

::ng-deep {
  .i-input {
    .mat-mdc-form-field-infix {
      padding-top: 8px !important;
      padding-bottom: 4px !important;
      min-height: 0px !important;
    }
  }

  .i-input {
    .mat-mdc-text-field-wrapper,
    .mat-mdc-form-field-flex {
      height: 42px !important;
      padding-left: 4px !important;
    }
  }

  .i-input {
    .mdc-floating-label {
      top: 20px !important;
    }
  }

  .i-input {
    .mdc-floating-label--float-above {
      top: 24px !important;
    }
  }
}

.add-content-container {
  padding: 20px 0;
  width: 720px;
  margin: 0 auto;
}