<div class="container">
    <div *ngIf="message">{{message}}</div>

    <section *ngIf="!message">
        <section class="topic">
            <h3><b>{{topic}}</b></h3>

            <div class="search">
                <mat-form-field>
                    <input type="text" matInput placeholder="Search" 
                        (keyup.enter)="search()" 
                        (blur)='search()'/>
                </mat-form-field>
            </div>
        </section>
        
        <div class='info-items' *ngFor="let info of informations; index as i">
            <section class="question">
                {{i+1}}. {{info.question}}
            </section>
            <section class="answer" *ngFor="let ans of info.answer">

                <div *ngIf="ans.type === 'text'">
                    {{ans.value.trim()}}
                </div>
                <div *ngIf="ans.type === 'code'">
                    <pre><code [highlight]="ans.value.trim()"></code></pre>
                </div>
            </section>
            <button (click)="deleteInformation(info.id, i)" class="delete" mat-fab color="warn">
                <mat-icon>remove</mat-icon>
            </button>

            <button (click)="editInformation(info)" class="edit" mat-fab color="warn">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </section>

</div>